.pdf-header {
  font-size: 18px;
  color: #333;
}

.pdf-footer {
  font-size: 10px;
  color: #888;
  text-align: right;
}

.table-header {
  background-color: #aab929;
  color: white;
}

.table-cell {
  font-size: 9px;
}
